body{
    text-align: center;
}
#logo{
    height: 500px;
    width: 500px;
}
#rob{
    height: 100px;
    width: 100px;
}
#wf{
    height: 100px;
    width: 100px;
}
#p{
    height: 100px;
    width: 100px;
}